
.#{$namespace}.btn .btn-bordered {
  background-color: #fff;
}

.btn {
  &:focus {
    outline: none;
  }
}

.#{$namespace}.button > .contents {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.#{$namespace}.button.edit, .btn-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $btn-icon-size;
  height: $btn-icon-size;
  margin-left: 5px;
  padding: 0;
  border: none;
  border-radius: 50px;
  background-color: $btn-edit-bg;
  color: $btn-edit-color;
  font-size: 10px;
}

.#{$namespace}.button.edit.btn-success, .btn-edit.btn-success {
  background-color: $btn-success-bg;
}

.#{$namespace}.button.edit.btn-warning, .btn-edit.btn-warning {
  background-color: $btn-warning-bg;
}

.#{$namespace}.button.edit.btn-danger, .btn-edit.btn-danger {
  background-color: $btn-danger-bg;
}

.#{$namespace}.button.edit.btn-info, .btn-edit.btn-info {
  background-color: $btn-info-bg;
}

.#{$namespace}.button.edit > .icon,
.btn-edit > .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.#{$namespace}.button.edit.tl,
.btn-edit.tl {
  @include right(0);

  position: absolute;
  top: 0;
}

.#{$namespace}.button.active,
.btn-active {
  background-color: $btn-active-bg;
  color: $btn-active-color;
  box-shadow: none;
}

.#{$namespace}.button.flat, .btn-flat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
}

.#{$namespace}.button.round, .btn-round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  padding: 0;
  border: none;
  border-radius: 50px;
  background-color: $btn-edit-bg;
  color: $btn-edit-color;
}

.#{$namespace}.button.close, .btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 0;
  transition: background-color 200ms linear, color 200ms linear;
  border: none;
  border-radius: 75px;
  background-color: $gray-lighter;
  color: $gray-dark;
  font-size: 15px;
  opacity: 1;


  &:hover {
    background-color :$gray-dark;
    color: $gray-lighter;
  }
}

.#{$namespace}.button.icon-only i {
  width: 100%;
}

.btn-flat {
  @extend .btn-link; // sass-lint:disable-line placeholder-in-extend
}

.btn-flat:hover,
.btn-flat:active,
.btn-flat:focus,
.btn-flat:visited {
  text-decoration: none;
}
