
.#{$namespace}.separator.labeled {
  display: flex;
  align-items: center;
}

.#{$namespace}.separator.labeled hr {
  flex: 1 1 auto;
}

.#{$namespace}.separator.labeled .label {
  flex: 0 0 auto;
  font-size: $font-size-sm;
  text-transform: uppercase;
}

.#{$namespace}.separator.padding.xs {
  padding-right: $spacer;
  padding-left: $spacer;
}
