/* media gellery */
.#{$namespace}.media-gallery {
  position: relative;
  max-width: 100%;
  min-height: 150px;
  max-height: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 6px;
  text-align: center;
}

.gallery-drop-pane .mainImg {
  display:block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2px;
}

.#{$namespace}.media-gallery {
  width: 100%;
  padding: 0;
  list-style: none;
}

.#{$namespace}.media-gallery .#{$namespace}.badge-container {
  position: absolute;
  top: $badge-offset;
  right: $badge-offset;
  z-index: 1;
}

.#{$namespace}.media-gallery .draggable-media:first-child,
.#{$namespace}.media-gallery .gallery-image:first-child {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2px;
  cursor: auto;
}

.#{$namespace}.media-gallery .draggable-media {
  display: inline-block;
  width: 24%;
  height: 24%;
}

.#{$namespace}.media-gallery .gallery-image {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 24%;
  height: 24%;
  margin: 0;
  padding: 2px;
  background-color: $list-group-hover-bg;
}

.#{$namespace}.media-gallery .gallery-image .img-responsive {
  width: 100%;
}

.#{$namespace}.media-gallery .gallery-image.gallery-tools {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 10px;
  visibility: hidden;
}

.#{$namespace}.media-gallery .gallery-image.progress {
  display: block;
  position: relative;
  top: -10px;
  height: 5px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.#{$namespace}.media-gallery .gallery-image:hover {
  background-color: $list-group-hover-bg;
  cursor: pointer;
  opacity: 0.7;
}
.#{$namespace}.media-gallery .gallery-image:hover .gallery-tools {
  opacity: 1;
  visibility: visible;
}

.#{$namespace}.media-gallery .gallery-image:hover .gallery-tools a {
  color: $gray-dark;
}

.#{$namespace}.media-gallery .gallery-image .video {
  width: 100%;
}

.#{$namespace}.media-gallery .gallery-image.add {
  position: relative;
}

.#{$namespace}.media-gallery .gallery-image.add .badge-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2px;
}

.#{$namespace}.media img {
  width: 100%;
}
