
.#{$namespace}.tags {
  display: flex;
  flex-wrap: wrap;
}

.#{$namespace}.tag {
  display: flex;
  margin: 5px;
  padding: $input-padding-y $input-padding-x;
  border-radius: $tag-border-radius;
  background-color: $gray-light;
}

.#{$namespace}.tag.full-width {
  width: 100%;
}

.#{$namespace}.tag.edit {
  height: 33px;
  padding: 0;
}

.#{$namespace}.tag.edit .autosuggest-wrapper,
.#{$namespace}.tag.edit .react-autosuggest__container {
  width: 100%;
  height: 100%;
}

.#{$namespace}.tag.edit form {
  display: flex;
  width: 100%;
}

.#{$namespace}.tag.edit input {
  width: 100%;
  height: 100%;
  padding: $input-padding-y $input-padding-x;
  border: $input-btn-border-width solid $input-border-color;
  border-left: none;
  border-radius: 0;
  background-color: $input-bg;
}

.#{$namespace}.tag.edit .btn {
  border: $input-btn-border-width solid $input-border-color;
  border-left: none;
  border-radius: 0;
  background-color: $input-bg;
  color: $input-color;
}

.#{$namespace}.tag.edit .btn:first-child {
  border-left: $input-btn-border-width solid $input-border-color;
  border-radius: $input-border-radius 0 0 $input-border-radius;
}

html.rtl .#{$namespace}.tag.edit .btn:first-child {
  border-right: $input-btn-border-width solid $input-border-color;
  border-left: none;
  border-radius: 0 $input-border-radius $input-border-radius 0;
}

.#{$namespace}.tag.edit .btn:last-child {
  border-right: $input-btn-border-width solid $input-border-color;
  border-radius: 0 $input-border-radius $input-border-radius 0;
}

html.rtl .#{$namespace}.tag.edit .btn:last-child {
  border-left: $input-btn-border-width solid $input-border-color;
  border-radius: $input-border-radius 0 0 $input-border-radius;
}


.#{$namespace}.tag.edit.create {
  button {
    color: $btn-success-bg;
  }
}

// Autosuggest

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-width: 150px;
  border: $input-btn-border-width solid $input-border-color;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #fff;
  color: $input-color;
  font-size: 14px;
  z-index: $zindex-navbar;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestions-list li {
  padding: 2px 5px;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  padding: 10px 20px;
  cursor: pointer;
}

.react-autosuggest__suggestion--focused {
  background-color: $gray-light;
}
