
.#{$namespace}.tagnav .#{$namespace}.tags {
  display: flex;
  flex-wrap: wrap;
}

.#{$namespace}.tagnav .#{$namespace}.tag {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: $border-radius;
  background-color: transparent;
}

.#{$namespace}.tagnav .#{$namespace}.tag.edit {
  padding: ($navbar-padding-y / 2) 0;
}

.#{$namespace}.tagnav .#{$namespace}.tag.edit button:last-child {
  min-width: 36px;
}

.#{$namespace}.tagnav .#{$namespace}.tag.edit form {
  display: flex;
}

.#{$namespace}.tagnav .#{$namespace}.tag.edit input {
  width: 100%;
  padding: 0 5px;
}

.#{$namespace}.tagnav .#{$namespace}.tag.edit button {
  padding: 2px 5px;
}

.#{$namespace}.tagnav .#{$namespace}.tag.edit button:first-child {
  border-radius: $border-radius 0 0 $border-radius;
}

.#{$namespace}.tagnav .#{$namespace}.tag.edit button:last-child {
  border-radius: 0 $border-radius $border-radius 0;
}

// TODO: Revisit
// .#{$namespace}.tagnav .#{$namespace}.tag.edit.create {
//   @color: lighten(@btn-success-bg, 10%);
//   @color: @brand-secondary-color;
//   // @color: #238CC3;
//   // @color: @white;
//
//   input {
//     background-color: #fff;
//     color: $text-color;
//     // .placeholder(@color);
//   }
//
//   button {
//     background-color: @white;
//     color: @color;
//   }
// }

.#{$namespace}.tagnav .#{$namespace}.tag.edit.create input {
  // .placeholder($brand-secondary-color);
}

// Base Tag Navigation
// -- Horizontal Layout
.#{$namespace}.tagnav {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  align-items: center;
  height: $navbar-height;
  background-color: $navbar-bg;
  text-transform: uppercase;
}

// -- Vertical Layout
.#{$namespace}.tagnav.vertical {
  display: flex;
  flex-direction: column;
}

.#{$namespace}.tagnav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 270px;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  z-index: $zindex-navbar;
}

.#{$namespace}.tagnav.fixed.open {
  display: flex;
}

.#{$namespace}.tagnav.fixed.closed {
  display: none;
}

// Tag navigation tag list
// -- Horizontal Layout
.#{$namespace}.tagnav > .#{$namespace}.tags {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  overflow-x: auto;
}

// -- Vertical Layout
.#{$namespace}.tagnav.vertical > .#{$namespace}.tags {
  display: block;
}

// Tag navigation, edit tags button
// -- Horizontal Layout
.#{$namespace}.tagnav .edit-tag-button {
  flex: 0 0 auto;
  height: 100%;
  border: 0;
  border-left: 1px solid $list-group-border-color;
  border-radius: 0;
  background-color: $list-group-bg;
}

// -- Vertical Layout
.#{$namespace}.tagnav.vertical .edit-tag-button {
  height: auto;
}

.#{$namespace}.tagnav .navbar-header {
  display: none;

  @media screen and (max-width: map-get($container-max-widths, sm)) {
    display: flex;
  }
}

.#{$namespace}.tagnav.vertical .navbar-header {
  flex: 0 0 auto;
  width: 100%;
  // height: $navbar-height;
  border-bottom: 1px solid $list-group-border-color;
}

.#{$namespace}.tagnav.vertical .navbar-header .close-button {
  width: 44px;
  border: none;
  border-radius: 0;
}

// Groupd navbar items (includes a link and dropdown)
// -- Horizontal
.#{$namespace}.tagnav .navbar-items {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  overflow-y: visible;
}

// -- Vertical
.#{$namespace}.tagnav.vertical .navbar-items {
  display: block;
  width: 100%;
  padding: 20px 0;
  overflow-y: auto;
}

// Single navbar item
// -- Horizontal Layout
.#{$namespace}.tagnav .navbar-items > .navbar-item {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}

// -- Vertical Layout
.#{$namespace}.tagnav.vertical .navbar-items > .navbar-item {
  display: block;
}

.#{$namespace}.tagnav .navbar-footer {
  height: 100%;
}

.#{$namespace}.tagnav.vertical .navbar-footer {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  // height: @navbar-height;
  border-top: $dropdown-border-width solid $dropdown-border-color;
}

.#{$namespace}.tagnav .edit-tag-button.btn-success {
  flex: 0 0 auto;
  height: 100%;
  border: 0;
  border-left: 1px solid $btn-success-border;
  border-radius: 0;
  background-color: $btn-success-bg;
  color: $btn-success-color;
}

.#{$namespace}.tagnav.vertical .navbar-item.has-dropdown > .#{$namespace}.tag.link {
  position: relative;
}

.#{$namespace}.tagnav.vertical .navbar-item.has-dropdown > .#{$namespace}.tag.link:after {
  display: flex;
  position: absolute;
  top: 0;
  right: 10px;
  align-items: center;
  height: 100%;
  font-family: "FontAwesome", "FontAwesomeFallback";
  font-size: 16px;
  content: $icon-angle-down;
}

.#{$namespace}.tagnav .navbar-item > .#{$namespace}.tag.link {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  width: auto;
  height: 100%;
  padding: 0 20px;
  border-radius: 0;
  text-transform: uppercase;
}

.#{$namespace}.tagnav .navbar-item:hover > .#{$namespace}.tag.link {
  // background-color: @black10;
  color: $link-color;
}

.#{$namespace}.tagnav.vertical .navbar-item > .#{$namespace}.tag.link {
  display: block;
  height: auto;
  padding: 10px 20px;
}

.#{$namespace}.tagnav .navbar-item > .#{$namespace}.item.edit {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  width: auto;
  min-width: 150px;
  max-width: 150px;
  height: 100%;
  padding: 0 5px;
}

.#{$namespace}.tagnav .navbar-item > .#{$namespace}.tag.edit form {
  height: 26px;
}

.#{$namespace}.tagnav.vertical .navbar-item > .#{$namespace}.item.edit {
  width: 100%;
  max-width: 100%;
  padding: 10px 20px;
}

.#{$namespace}.tagnav .#{$namespace}.tag.edit.selected button,
.#{$namespace}.tagnav .#{$namespace}.tag.edit.selected input {
  border-color: $btn-info-border;
  background-color: $btn-info-bg;
  color: $btn-info-color;
}

.#{$namespace}.tagnav .#{$namespace}.tag.edit.selected button:last-child {
  color: $btn-success-color;
}

.#{$namespace}.tagnav .navbar-item {
  height: 100%;
}

.#{$namespace}.tagnav.vertical .navbar-item {
  height: auto;
}

.#{$namespace}.tagnav .navbar-item .dropdown-container {
  display: none;
  // color: $text-color;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
}

.#{$namespace}.tagnav .navbar-item .dropdown-container a {
  color: $link-color;
}
//
// .#{$namespace}.tagnav .navbar-item .dropdown-container .#{$namespace}.tag,
// .#{$namespace}.tagnav .#{$namespace}.tag.edit input {
//   color: @text-color;
// }
//
.#{$namespace}.tagnav .navbar-item.selected > .#{$namespace}.tag {
  border-radius: 0;
  background-color: $gray-light;
}

.#{$namespace}.tagnav .navbar .navbar-item:hover .dropdown-container,
.#{$namespace}.tagnav .navbar .navbar-item:focus .dropdown-container,
.#{$namespace}.tagnav .navbar-item.selected .dropdown-container {
  display: block;
  position: absolute;
  top: $navbar-height;
  left: 0;
  width: 100%;
  margin: 0;
  border-bottom: $dropdown-border-width solid $dropdown-border-color;
  background-color: $navbar-bg;
  z-index: $zindex-navbar;
}

.#{$namespace}.tagnav.vertical .navbar-item.selected .dropdown-container,
.#{$namespace}.tagnav.vertical .navbar-item .dropdown-container {
  position: static;
}

.nav-dropbar-content {
  flex: 1 1 auto;
  min-height: 200px;
  padding: 10px;
}

.nav-dropbar-footer {
  flex: 0 0 auto;
  min-height: 44px;
  padding: 10px;
  border-top: $dropdown-border-width solid $dropdown-border-color;
}

.nav-dropbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Tag Group


.#{$namespace}.grouptag {
  flex: 1 1 auto;
  max-width: 20%;
  padding: 10px;
}

.#{$namespace}.tagnav.vertical .#{$namespace}.grouptag {
  margin-bottom: 40px;
  max-width: 100%;
  padding: 0;
}

.#{$namespace}.grouptag > .item {
  flex: 1 1 auto;
  min-width: 200px;
  width: 15%;
  max-width: 15%;
  padding: 10px;
}

.#{$namespace}.grouptag > .header {
  border-bottom: 1px solid $dropdown-border-color;
}

.#{$namespace}.tagnav.vertical .#{$namespace}.grouptag > .header {
  padding: 0 20px;
}

.#{$namespace}.grouptag > .header .#{$namespace}.tag {
  font-weight: 600;
  text-transform: uppercase;
}

.#{$namespace}.tagnav.vertical .#{$namespace}.grouptag > .header .#{$namespace}.tag {
  // padding: 0 20px;
}


.#{$namespace}.grouptag > .content {}

.#{$namespace}.tagnav.vertical .#{$namespace}.grouptag > .content {
  padding: 0 20px;
}

.#{$namespace}.grouptag > .footer {}

.#{$namespace}.grouptag > .header .#{$namespace}.tag.edit,
.#{$namespace}.grouptag > .header .#{$namespace}.tag.edit.create {
  text-transform: none;

  input {
    background-color: $input-bg;
    border-color: $btn-success-border;
    color: $input-color;
  }

  button {
    background-color: $btn-success-bg;
    border-color: $btn-success-bg;
    color: $btn-success-color;
  }
}

.#{$namespace}.grouptag > .header .#{$namespace}.tag.edit input::placeholder,
.#{$namespace}.grouptag > .header .#{$namespace}.tag.edit.create input::placeholder {
  color: $input-color;
}

.#{$namespace}.grouptag > .content .#{$namespace}.tag.link {
  text-transform: none;
}

.#{$namespace}.tagnav.vertical .#{$namespace}.grouptag > .content .#{$namespace}.tag.link {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  padding: 3px 0;
}


.empty-tag-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: @black10;
  height: 120px;
  max-width: 300px;
}

.#{$namespace}.tagnav.vertical .empty-tag-group {
  display: block;
}
