
.#{$namespace}.toolbar {
  display: flex;
  position: relative;
  align-items: center;
  padding: $navbar-padding-y $navbar-padding-x;
  border-bottom: $toolbar-border-width solid $toolbar-border-color;
  background-color: $toolbar-bg;

  @include media-breakpoint-up(sm) {
    @include border-radius($toolbar-border-radius);
  }
}

.#{$namespace}.toolbar.toolbar-vertical {
  flex: 0 0 auto;
  flex-direction: column;
  width: $toolbar-vertical-width;
  border-right: $toolbar-border-width solid $toolbar-border-color;
  border-bottom: none;
  z-index: $zindex-navbar;
}

.#{$namespace}.toolbar-group {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  padding-right: $toolbar-padding-y;
  padding-left: $toolbar-padding-y;
}

.#{$namespace}.toolbar-vertical .#{$namespace}.toolbar-group {
  flex-direction: column;
  align-items: center;
  padding-right: $toolbar-vertical-padding-x;
  padding-left: $toolbar-vertical-padding-x;
}


.#{$namespace}.toolbar-group.left {
  flex: 0 0 auto;
  justify-content: flex-start;
}

.#{$namespace}.toolbar-group.center {
  flex: 0 0 auto;
  justify-content: center;
}

.#{$namespace}.toolbar-group.right {
  flex: 1 1 auto;
  justify-content: flex-end;
}


.nav-dashboard-title {
  margin: 0;
}

.#{$namespace}.toolbar .controls,
.nav-dashboard-controls {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;

  > button, > .btn {
    @include margin-left(10px);

    width: 70px;
    height: 100%;
    border: none;
    border-left: 1px solid $toolbar-border-color;
    border-radius: 0;
  }

  ul,
  ul > li,
  ul > li > a {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.#{$namespace}.toolbar .controls .nav-pills,
.nav-dashboard-controls .nav-pills {
  flex-wrap: wrap;

  > li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: $toolbar-height;
    padding: 0 3rem;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    color: $toolbar-color;
    font-size: 1.6rem;

    .label {
      color: $toolbar-color;
      font-size: 1.4rem;
      font-weight: normal;
    }

    .count {
      color: $toolbar-border-color;
      font-size: 2rem;
    }
  }


  > li > a:hover,
  > li > a:focus {
    border-bottom: 3px solid $brand-primary;
    background-color: transparent;
  }

  > li.active > a,
  > li.active > a:hover,
  > li.active > a:focus {
    border-bottom: 3px solid $brand-primary;
    border-radius: 0;
    background-color: transparent;
    color: $toolbar-border-color;
  }

  @include media-breakpoint-down(lg) {
    > li > a {
      padding: 0 1.5rem;

      .label {
        color: $toolbar-color;
        font-size: 1.2rem;
        font-weight: normal;
      }

      .count {
        color: $toolbar-color;
        font-size: 1.8rem;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    border-bottom: none;

    > li > a:hover,
    > li > a:focus {
      border-bottom: none;
      background-color: $brand-primary;
    }


    > li.active > a,
    > li.active > a:hover,
    > li.active > a:focus {
      border-bottom: none;
      border-radius: 0;
      background-color: $brand-primary;
      color: $toolbar-light-active-color;
    }
  }

  @include media-breakpoint-down(xs) {
    > li {
      width: 100%;
    }

    > li > a {
      display: block;
      width: 100%;
      min-height: auto;
      padding: 1rem 2rem;
    }
  }

}
