/* RTL mixins
-------------------------------------------------- */

@mixin rtl($property, $value) {
  html.rtl & {
    #{$property}: $value
  }
}
@mixin ltr($property, $value) {
  html:not(.rtl) & {
    #{$property}: $value;
  }
}

@mixin left($n) {
  @include ltr(left, $n);
  @include rtl(right, $n);
}

@mixin right($n) {
  @include ltr(right, $n);
  @include rtl(left, $n);
}

@mixin margin-left($n) {
  @include ltr(margin-left, $n);
  @include rtl(margin-right, $n);
}

@mixin margin-right($n) {
  @include ltr(margin-right, $n);
  @include rtl(margin-left, $n);
}

@mixin padding-left($n) {
  @include ltr(padding-left, $n);
  @include rtl(padding-right, $n);
}

@mixin padding-right($n) {
  @include ltr(padding-right, $n);
  @include rtl(padding-left, $n);
}

@mixin float($n) {
  @if ($n == left) {
    @include ltr(float, left);
    @include rtl(float, right);
  } @else if ($n == right) {
    @include ltr(float, right);
    @include rtl(float, left);
  } @else {
    float: $n;
  }
}

@mixin clear($n) {
  @if ($n == left) {
    @include ltr(clear, left);
    @include rtl(clear, right);
  } @else if ($n == right) {
    @include ltr(clear, right);
    @include rtl(clear, left);
  } @else {
    clear: $n;
  }
}

@mixin text-align($n) {
  @if ($n == left) {
    @include ltr(text-align, left);
    @include rtl(text-align, right);
  } @else if ($n == right) {
    @include ltr(text-align, right);
    @include rtl(text-align, left);
  } @else {
    text-align: $n;
  }
}
